.env
GOOGLE_API_KEY=AIzaSyDSVYwHKLSd_R4HOKDTW8dCY1eY9TvbnP4 
OPENAI_API_KEY=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

